@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "@egoist/tailwindcss-icons" {
  prefixes: mdi;
}

@theme {
  --font-outfit: 'Outfit', sans-serif;

  --text-preset1: 22px;
  --text-preset1--line-height: 1.2;

  --text-preset2: 15px;
  --text-preset2--line-height: 1.4;

  --tracking-tightest: 0.0125em;
}
